@charset "UTF-8";

/*
        Paleta de cores
        branco:
        preto:
        cinza: #d3d3d3
*/

*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html{
    background-color: #d3d3d3;
    height: 100vh;
    width: 100vw;
}

main{
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login{
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;

    background-color: aliceblue;
    width: 250px;
    height: 515px;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.425);

    transform: translate(-50%,-50%);
    transition: 0.5;
    transition-timing-function: ease;
}

section#login > div#imagem{
    display: block;
    background:  #d3d3d3 url(../imagens/pexels-martinpechy-2763969.jpg) no-repeat;
    background-position: left bottom;
    height: 200px;
    background-size: cover;
}

section#login > section#formulario{
    display: block;
    padding: 10px;

}

div#formulario > h1{
    text-align: center;
    margin-bottom: 10px;

}
div#formulario > p{
    font-size:0.8em


}

form > div.campo{
    background-color: #5c5c5c;
    border: 2px solid #5c5c5c;
    display: block;
    width:100%;
    height: 40px;
    border-radius: 5px;
    margin: 5px 0px;
}

div.campo > i{
    color: white;
    background-color:  #5c5c5c;
    font-size: 2em;
    width: 40px;
    height: 20px;
    padding: 5px;
}

div.campo > input{
    background-color:  #b1b1b1;
    font-size: 1em;
    width: calc(100% - 48px);
    height: 100%;
    border: 0px;
    border-radius: 8px;
    padding: 4px;
    transform: translateY(-10px);
}

div.campo > input:focus-within{
    background-color: white;
    border: none;
}

form > input[type=submit] {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    color: white;
    background-color:  #929292;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form > input[type=submit]:hover{
    background-color: #4e4e4e;
}

form > a.botao{
    display: block;
    text-align: center;
    font-size: 1em;
    margin-top: 5px;
    width: 100%;
    height: 30px;
    color:  #414141;
    border: solid  #4e4e4e 2px;
    background-color:  #e0e0e0;
    border-radius: 5px;
    text-decoration: none;
}

form > a.botao:hover{
    background-color:  #4e4e4e;
    color: white;
}

form > a.botao > i{
    font-size: 0.8em;
}