@charset "UTF-8";

/*
        Paleta de cores
        branco:
        preto:
        cinza: #d3d3d3
*/

*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html{
    background-color: #d3d3d3;
    height: 100vh;
    width: 100vw;
}

main{
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    overflow: hidden;

    background-color: aliceblue;
    width: 250px;
    height: 500px;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.425);
}

section#login > div#imagem{
    display: block;
    background:  #d3d3d3 url(../imagens/pexels-martinpechy-2763969.jpg) no-repeat;
    background-position: left bottom;
    height: 200px;
    background-size: cover;
}

section#login > section#formulario{
    display: block;
    padding: 10px;

}